# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\nabab\Documents\AtomSecurity\P.A.C.K.E.R\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Release folder
/../../../../../../../:\Users\nabab\Documents\AtomSecurity\P.A.C.K.E.R\cmake-build-release-visual-studio